body {
    background:whitesmoke;
       
}
h2{
    text-align: left;
    font-family: Verdana;
    font-weight:100;
    font-size: 30px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    display:block;
    text-indent:20px;

}

h1,p{
    text-align: center;
    font-family:sans-serif;
}
#firstRowPhotos,#secondRowPhotos  {
    display:flex;
    flex-direction: row;
   
    

}
.frontphotos{
    max-width:410px;
    max-height:420px;
    align-items: center;
    padding: 0px;
    margin: 3px;   
} 
.secondrow{
    max-width: 600px;
    max-height:420px;
    align-items: center;
    padding: 2px;
    margin: 5px;  

}

