

body {
    background:rgba(229, 227, 217, 0.551);
}

h2 {
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:200;
    font-size: 30px;
    letter-spacing: 8px; 
    display: inline;
}

nav {
    display: inline-block;
    float: right;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    letter-spacing: 8px; 
       
}

a:visited {
    color:black;
}

h1{
    text-align: center;
    font-family:sans-serif;
    margin-top: 5cm;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:200;
    
}

#firstRowPhotos,#secondRowPhotos,#thirdrowphotos {
    display:flex;
    flex-direction: row;
   
}
.frontphotos, .thirdrow{
    max-width:410px;
    max-height:420px;
    align-items: center;
    padding: 0px;
    margin: 3px;  
    border-radius: 25px; 
} 
.secondrow{
    max-width: 600px;
    max-height:420px;
    align-items: center;
    padding: 2px;
    margin: 5px;  
    border-radius: 25px; 
}





h3,.container {
   
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    display:list-item;
    margin-top: 10px;
    font-family:'Courier New', Courier, monospace; 



}
p {
    border-style:none;
    width: 20cm; 
    margin-left: auto;
    margin-right:auto;
    font-size:larger;
    word-spacing: 0.3cm;
    text-align: center;
    font-family:'Courier New', Courier, monospace;  
}
 
 input[type=textarea]{
    height:200px;
    width: 50%; 
    padding: 12px; 
    border: 0.5px solid #ccc;
    display: list-item;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Courier New', Courier, monospace ;

}  

input[type=text],label{
  width: 50%; 
  padding: 12px; 
  border: 0.5px solid #ccc;
  display: list-item;
  margin-right: auto;
  margin-left: auto;
  font-family:'Courier New', Courier, monospace ;
  
  
}

